:root{
    --primary-bg: #003049;
    --secondary-bg: #EAE2B7;
    --primary-font: #003049;
    --secondary-font: #000000;
    --white-font: #ffffff;
}

html, body{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-font);
    white-space: nowrap;
    font-family: "Arial", sans-serif;
}

a:visited {
    text-decoration: none;
    color: var(--secondary-font);
    font-weight: bold;
}

canvas{
    width: 200px;
    height: 200px;
}


#graph .nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding: 1rem 0rem;
    gap: 2rem;
}

.nav .link{
    background-color: var(--primary-bg) !important;
    
}

.nav .link a {
    color: var(--white-font) !important;
}

#graphs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding-top: 2rem;
}

#graphs div{
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
}

#graphs div p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

#graphs div p:hover {
    font-weight: bold;
}


main {
    padding-bottom: 5rem
}

#graphs p{
    cursor:pointer;
}

.sec-bg{
    background-color: var(--secondary-bg);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header{
    height: 30px;
    width: 100%;
    background-color: var(--primary-bg);
    vertical-align: middle;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2, h3, p {
    font-family:  "DM Serif Text", serif;
    color: var(--primary-font)
}

h2{
    font-size: 20px;
}

header img{
    margin-left: 20px;
}

footer{
    height: 70px;
    width: 100%;
    background-color: var(--primary-bg);
    position: fixed;
    bottom: 0;
}

#team{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    gap: 15rem;
    padding-top:5rem;
    padding-bottom:3rem;
}

#team .team-container{
    min-width: 400px;
}

#team h3{
    font-size: 20px;
}

#team p{
    font-size: 18px;
}


#team img{
    width: 15rem;
}

#back{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 1rem 1rem;
}

div.link{
    background-color: var(--secondary-bg);
    padding: 0.5rem 4rem;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.bold{
    font-weight: bold;
}

.footer-text{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 2rem;
}
 
.footer-text a{
    color:var(--secondary-bg) !important;
    font-weight: normal !important;
    font-size: 15px;
    font-family:  "DM Serif Text", serif;
    color: var(--primary-font)
}

.detail{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}


.detail div{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.mobile{
    display: none;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.link:hover{
    font-weight: bold;
}

.footer-text a span:hover{
    font-weight: bold;
}

header a:hover{
    transform: scale(1.05);
}

@media only screen and (max-width: 650px) {

    .mobile{
        display: block;
    }
    
    section.sec-bg{
        display:none;
        visibility: hidden;
    }
    
    #graph .nav {
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    #team{
        flex-wrap: wrap
    }

    .detail div{
        width: 95% !important;
    }
}